@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  width: 100vw;
  height: 100svh;
  background-color: #003840;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  width: 100vw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  position: absolute;
  display: grid;
  place-items: center;
}

#cancelDiv {
  background-color: #007369;
  color: white;
  z-index: 6;
  position: absolute;
  min-width: 70vw;
  max-width: 70vw;
  min-height: 31vh;
  max-height: 31vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  justify-self: center;
  align-self: center;
  top: 22vh;
  border-radius: 2vh;
  text-wrap: balance;
}
#cancelDiv strong {
  font-size: 1.5vh;
}
#cancelDiv .text {
  grid-column: 1/5;
  font-size: 1rem;
  text-align: center;
  font-weight: bolder;
}
#cancelDiv .day {
  grid-column: 2/3;
  grid-row: 2/3;
}
#cancelDiv .month {
  grid-column: 3/4;
  grid-row: 2/3;
}
#cancelDiv .hour {
  grid-column: 2/3;
  grid-row: 3/4;
}
#cancelDiv .court {
  grid-column: 3/4;
  grid-row: 3/4;
}
#cancelDiv .returnButton {
  grid-column: 2/3;
  grid-row: 4/5;
  border: 0px;
  border-radius: 0.5rem;
  min-width: 5rem;
  max-width: 5rem;
  min-height: 1rem;
  max-height: 1rem;
  padding: 1rem;
  display: grid;
  align-content: center;
  color: white;
  font-weight: bolder;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #003840;
}
#cancelDiv .confirmButton {
  grid-column: 3/4;
  grid-row: 4/5;
  border: 0px;
  border-radius: 0.5rem;
  min-width: 5rem;
  max-width: 5rem;
  min-height: 1rem;
  max-height: 1rem;
  padding: 1rem;
  display: grid;
  align-content: center;
  color: white;
  font-weight: bolder;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #770000;
}

#loginDiv {
  background-color: #003840;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loginDiv img.logo {
  margin-top: 10vh;
  width: 70vw;
  aspect-ratio: 1/1;
}
#loginDiv form {
  margin-top: 5vh;
}
#loginDiv form div {
  display: flex;
}
#loginDiv form div div.imageContainer {
  height: 3.5vh;
  width: 3.5vh;
  padding: 1.2vh;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  display: grid;
  place-items: center;
  margin: 2.2vh;
}
#loginDiv form div div.imageContainer img {
  aspect-ratio: 1/1;
  height: 3vh;
}
#loginDiv .loginInput {
  margin: 2vh;
  border-radius: 4vh;
  border: 0.1em solid #005A5B;
  background-color: #00444E;
  display: block;
  width: 60vw;
  height: 6vh;
  font: "Inter", sans-serif;
  font-size: 1.5vh;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#loginDiv .errorLogin {
  margin: 2vh;
  font: "Inter", sans-serif;
  font-size: 2vh;
  color: #FF3333;
  display: block;
  text-align: center;
  width: 60vw;
}
#loginDiv .loginButton {
  margin: 2vh;
  margin-top: 2vh;
  font: "Inter", sans-serif;
  font-weight: bold;
  color: #005A5B;
  border-radius: 3vh;
  background-color: white;
  display: grid;
  place-items: center;
  width: 60vw;
  height: 6vh;
  font-size: 2vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#loginDiv .loginButton:link, #loginDiv .loginButton:visited #loginDiv .loginButton:active {
  text-decoration: none;
  color: #005A5B;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
header img {
  aspect-ratio: 1/1;
  width: 4vh;
}
header h1 {
  font-size: 2.5vh;
  color: white;
  margin: 1rem;
  margin-left: 10vw;
  margin-right: 10vw;
}
header a img {
  width: 3.5vh;
  margin-top: 0.5vh;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
main .datePicker {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(2, 6vh);
  place-items: center;
  grid-column-gap: 1rem;
}
main .datePicker .changeMonth {
  background-color: #003840;
  border: 0px;
  border-radius: 100%;
  width: 8vw;
  height: 8vw;
  display: grid;
  place-items: center;
}
main .datePicker .changeMonth img {
  aspect-ratio: 1/1;
  border: 0px;
  width: 50%;
}
main .datePicker .changeMonth:active {
  background-color: #002c33;
}
main .datePicker .changeMonth #lastMonth {
  transform: rotateZ(90deg);
}
main .datePicker .changeMonth #nextMonth {
  transform: rotateZ(-90deg);
}
main .datePicker #year {
  grid-column: 1/4;
  align-self: start;
  font-size: 3vw;
}
main .calendarContainer {
  width: 35vh;
  height: 35vh;
  background-color: rgb(0, 90, 91);
  border-radius: 2vh;
  display: grid;
  place-items: center;
}
main .calendarContainer #calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  place-items: center;
  width: 32vh;
  height: 32vh;
}
main .calendarContainer #calendar .dayHeader {
  width: 4vh;
  height: 4vh;
  display: grid;
  place-items: center;
}
main .calendarContainer #calendar .dayHeader p {
  font-size: 1.5vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .calendarContainer #calendar .day {
  background-color: #007369;
  width: 4vh;
  height: 4vh;
  border-radius: 1.2vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: grid;
  place-items: center;
}
main .calendarContainer #calendar .day p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .calendarContainer #calendar .day:active {
  background-color: #0a3531;
  filter: none;
}
main .calendarContainer #calendar .unavailableDay {
  background-color: #005f57;
}
main .calendarContainer #calendar .myBooking {
  background-color: #009BBD;
}
main .calendarContainer #calendar .myBooking:active {
  background-color: #007e9b;
  filter: none;
}
main .calendarContainer #calendar .highInflux {
  background-color: #FFD348;
}
main .calendarContainer #calendar .highInflux:active {
  background-color: #d4b03a;
  filter: none;
}
main .calendarContainer #calendar .fullBookings {
  background-color: #770000;
}
main .calendarContainer #calendar .fullBookings:active {
  background-color: #550000;
  filter: none;
}
main .calendarContainer #bookingSelector {
  width: 80vw;
  height: 35vh;
  background-color: rgb(0, 90, 91);
  border-radius: 2vh;
  z-index: 3;
  position: absolute;
  display: grid;
  grid-template-rows: 10% 50% 40%;
  grid-template-columns: repeat(3, 1fr);
}
main .calendarContainer #bookingSelector .errorMessage {
  grid-column: 1/4;
  place-self: center;
  text-wrap: balance;
  text-align: center;
}
main .calendarContainer #bookingSelector p.date {
  place-self: center;
  font-weight: bolder;
  grid-column: 1/3;
  font-size: 1.8vh;
  margin-top: 1rem;
  margin-left: 1rem;
}
main .calendarContainer #bookingSelector .closeButton {
  background-color: rgb(0, 90, 91);
  border: none;
  place-self: center;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 50%;
}
main .calendarContainer #bookingSelector .closeButton img {
  height: 2vh;
  aspect-ratio: 1/1;
}
main .calendarContainer #bookingSelector .closeButton:active {
  background-color: #0a3531;
}
main .calendarContainer #bookingSelector .hourContainer {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  margin: 2vh;
  grid-row-gap: 1vh;
  grid-column-gap: 1vh;
}
main .calendarContainer #bookingSelector .hourContainer .hour {
  background-color: #008C81;
  width: 100%;
  height: 100%;
  border-radius: 1vh;
  display: grid;
  place-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
main .calendarContainer #bookingSelector .hourContainer .myBooking {
  background-color: #009BBD;
}
main .calendarContainer #bookingSelector .hourContainer .halfBooked {
  background-color: #FFD348;
}
main .calendarContainer #bookingSelector .hourContainer .fullBooked {
  background-color: #770000;
}
main .calendarContainer #bookingSelector .hourContainer .clicked {
  filter: none;
  box-shadow: inset 0 0 5px black;
}
main .calendarContainer #bookingSelector .confirmDiv {
  grid-column: 1/3;
  background-color: #007369;
  place-self: left;
  width: 88%;
  height: 80%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .calendarContainer #bookingSelector .confirmDiv p {
  text-align: center;
  margin-top: 0.5rem;
}
main .calendarContainer #bookingSelector .confirmDiv button {
  width: 80%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 1vh;
  background-color: #02A676;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
main .calendarContainer #bookingSelector .confirmDiv button:disabled {
  filter: none;
  background-color: #008059;
}
main .calendarContainer #bookingSelector .confirmDiv button:active {
  filter: none;
  background-color: #008059;
  transform: scale(95%);
}
main .calendarContainer #bookingSelector .infoDiv {
  grid-column: 3/5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1.8rem;
  font-size: 0.8rem;
}
main .calendarContainer #bookingSelector .infoDiv .halfBooked::before {
  content: "●";
  color: #FFD348;
  margin-right: 2px;
  margin-top: 2px;
  font-size: 1.2rem;
}
main .calendarContainer #bookingSelector .infoDiv .fullBooked::before {
  content: "●";
  color: #770000;
  margin-right: 2px;
  margin-top: 2px;
  font-size: 1.2rem;
}
main .calendarContainer #bookingSelector .infoDiv .yourBooking::before {
  content: "●";
  color: #009BBD;
  margin-right: 2px;
  margin-top: 2px;
  font-size: 1.2rem;
}
main .yourBookings {
  width: 80vw;
  display: flex;
  margin-top: 2.5rem;
  flex-direction: column;
}
main .yourBookings h2 {
  margin-left: 4vw;
  font-size: 2.3vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bolder;
  margin-bottom: 1rem;
}
main .yourBookings #bookingContainer {
  max-height: 25vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .yourBookings #bookingContainer .booking {
  width: 80%;
  background-color: #007369;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 2vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  font-size: 1.5vh;
}
main .yourBookings #bookingContainer .booking p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .yourBookings #bookingContainer .booking p strong {
  font-size: 1.3vh;
}
main .yourBookings #bookingContainer .booking button {
  grid-row: 1/3;
  grid-column: 3/4;
  background-color: #770000;
  color: white;
  border-radius: 1vh;
  border: 0px;
  place-self: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8rem;
  max-height: 2rem;
  min-height: 2rem;
  max-width: 10rem;
  max-width: 10rem;
  padding: 1rem;
  display: grid;
  align-content: center;
}
main .yourBookings .blurry {
  width: 100% vw;
  height: 2vh;
  filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 55, 64, 0.8);
  z-index: 2;
  position: relative;
  bottom: 1vh;
}
main .yourBookings #expandBookings {
  background-color: #003840;
  border: 0px;
  border-radius: 100%;
  width: 12vw;
  height: 12vw;
  display: grid;
  place-items: center;
  align-self: center;
}
main .yourBookings #expandBookings img {
  aspect-ratio: 1/1;
  height: 80%;
  width: 80%;
}
main .yourBookings #expandBookings:active {
  background-color: #002c33;
}

.fadePopUp {
  position: absolute;
  top: 20%;
  padding: 1rem;
  background-color: #009c60;
  border-radius: 1em;
  animation: popupfade 1.5s ease;
  opacity: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.fadePopUp p {
  color: white;
  font-size: 1.5rem;
}

@keyframes popupfade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 933px) and (orientation: landscape) {
  body {
    width: 100vw;
    min-height: calc(100svh - env(safe-area-inset-bottom));
    height: calc(100svh - env(safe-area-inset-bottom));
    justify-content: center;
    align-items: center;
  }
  body #loginDiv {
    display: flex;
    flex-direction: row;
  }
  body #loginDiv .logo {
    margin: 0px;
    width: 40%;
    height: 30vw;
  }
  body #loginDiv form {
    margin: 0px;
    margin-bottom: 5vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #loginDiv form div {
    width: 90%;
    height: 12vh;
    margin: 2vh;
  }
  body #loginDiv form div .imageContainer {
    height: 9.5vh;
    width: 9.5vh;
    margin-top: 2.6vh;
  }
  body #loginDiv form div .imageContainer img {
    height: 7vh;
  }
  body #loginDiv form div .loginInput {
    width: 100%;
    height: 12vh;
    font-size: 6vh;
    border-radius: 11vh;
  }
  body #loginDiv form .errorLogin {
    font-size: 6vh;
    margin-top: 5vh;
  }
  body #loginDiv form #loginButton {
    width: 85%;
    height: 12vh;
    font-size: 6vh;
    border-radius: 11vh;
  }
  header {
    height: 15svh;
    width: 100vw;
    display: flex;
    padding: 0px;
    justify-content: flex-start;
  }
  header img {
    height: 10svh;
    width: 10svh;
    margin-left: 4vh;
  }
  header h1 {
    margin: 0px;
    margin-left: 10vh;
    font-size: 3vw;
  }
  header a {
    margin-left: auto;
    margin-right: 4vh;
  }
  header a img {
    height: 8svh;
    width: 8svh;
  }
  main {
    height: 85svh;
    width: 100vw;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 10svh 70svh;
  }
  main .datePicker {
    margin-top: 1.5vh;
    display: flex;
    justify-content: space-between;
    width: 34vw;
    height: 4vw;
  }
  main .datePicker .changeMonth {
    height: 4vw;
    width: 4vw;
  }
  main .datePicker #prv {
    order: 1;
  }
  main .datePicker #month {
    font-size: 2.5vw;
    order: 2;
  }
  main .datePicker #year {
    font-size: 2vw;
    order: 3;
    align-self: center;
    margin-top: 1.2vh;
  }
  main .datePicker #nxt {
    order: 4;
  }
  main .calendarContainer {
    width: 34vw;
    height: 26vw;
    margin-top: 3vh;
  }
  main .calendarContainer #calendar {
    width: 26vw;
    height: 26vw;
  }
  main .calendarContainer #calendar .dayHeader p {
    font-size: 1.5vw;
  }
  main .calendarContainer #calendar .dayHeader, main .calendarContainer #calendar .day {
    height: 75%;
    width: 75%;
    font-size: auto;
  }
  main .calendarContainer #bookingSelector {
    width: 34vw;
    height: 26vw;
  }
  main .calendarContainer #bookingSelector p.date {
    font-size: 1.6vw;
    margin-top: 3vh;
    margin-left: 2vh;
  }
  main .calendarContainer #bookingSelector .closeButton {
    margin-top: 2vw;
    padding: 1vw;
  }
  main .calendarContainer #bookingSelector .closeButton img {
    height: 2vw;
  }
  main .calendarContainer #bookingSelector .hourContainer {
    margin: 2vw;
  }
  main .calendarContainer #bookingSelector .hourContainer .hour {
    border-radius: 1vw;
  }
  main .calendarContainer #bookingSelector .confirmDiv {
    border-radius: 1vw;
  }
  main .calendarContainer #bookingSelector .confirmDiv p {
    font-size: 0.8rem;
  }
  main .calendarContainer #bookingSelector .confirmDiv button {
    border-radius: 1vw;
  }
  main .calendarContainer #bookingSelector .infoDiv {
    justify-content: center;
  }
  main .calendarContainer #bookingSelector .infoDiv p {
    font-size: 0.5rem;
  }
  main .yourBookings {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    margin: 0px;
    height: 100%;
    margin-top: 1.5vw;
  }
  main .yourBookings h2 {
    font-size: 2vw;
  }
  main .yourBookings #bookingContainer {
    max-height: 85vh;
  }
  main .yourBookings #bookingContainer .booking p {
    font-size: 1vw;
  }
  main .yourBookings #bookingContainer .booking p strong {
    font-size: 1.5vw;
  }
  #cancelDiv {
    min-height: 60vh;
    max-height: 60vh;
    margin-bottom: 5vh;
  }
  #cancelDiv p strong {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1000px) {
  header {
    justify-content: flex-start;
  }
  header img {
    height: 5vw;
    width: 5vw;
    margin-left: 2vw;
  }
  header h1 {
    font-size: 3vw;
    margin-left: 2vw;
  }
  header a {
    margin-left: auto;
    margin-right: 2vw;
  }
  header a img {
    height: 4vw;
    width: 4vw;
  }
  main .datePicker {
    margin-top: 1.5vh;
    display: flex;
    justify-content: space-between;
    width: 34vw;
    height: 4vw;
  }
  main .datePicker .changeMonth {
    height: 4vw;
    width: 4vw;
  }
  main .datePicker #prv {
    order: 1;
  }
  main .datePicker #month {
    font-size: 2.5vw;
    order: 2;
  }
  main .datePicker #year {
    font-size: 2vw;
    order: 3;
    align-self: center;
    margin-top: 1.2vh;
  }
  main .datePicker #nxt {
    order: 4;
  }
  main .datePicker #year {
    margin-top: 0.5vh;
  }
  main .calendarContainer {
    width: 30vw;
    height: 30vw;
  }
  main .calendarContainer #calendar {
    width: 28vw;
    height: 28vw;
  }
  main .calendarContainer #bookingSelector {
    width: 30vw;
    height: 30vw;
  }
  main .yourBookings #bookingContainer {
    max-height: 35vh;
  }
}
@media screen and (min-width: 1250px) {
  body {
    overflow-y: hidden;
  }
  header {
    height: 15vh;
    padding: 0px;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 15svh 70svh;
    place-items: center;
  }
  main .calendarContainer {
    width: 30vw;
    height: 30vw;
    place-self: baseline;
    justify-self: center;
  }
  main .calendarContainer #calendar {
    width: 28vw;
    height: 28vw;
  }
  main .calendarContainer #calendar .dayHeader p {
    font-size: 1.5vw;
  }
  main .calendarContainer #calendar .dayHeader, main .calendarContainer #calendar .day {
    height: 75%;
    width: 75%;
    font-size: auto;
  }
  main .calendarContainer #bookingSelector {
    width: 34vw;
    height: 26vw;
  }
  main .calendarContainer #bookingSelector p.date {
    font-size: 1.6vw;
    margin-top: 3vh;
    margin-left: 2vh;
  }
  main .calendarContainer #bookingSelector .closeButton {
    margin-top: 2vw;
    padding: 1vw;
  }
  main .calendarContainer #bookingSelector .closeButton img {
    height: 2vw;
  }
  main .calendarContainer #bookingSelector .hourContainer {
    margin: 2vw;
  }
  main .calendarContainer #bookingSelector .hourContainer .hour {
    border-radius: 1vw;
  }
  main .calendarContainer #bookingSelector .confirmDiv {
    border-radius: 1vw;
  }
  main .calendarContainer #bookingSelector .confirmDiv p {
    font-size: 0.8rem;
  }
  main .calendarContainer #bookingSelector .confirmDiv button {
    border-radius: 1vw;
  }
  main .calendarContainer #bookingSelector .infoDiv {
    justify-content: center;
  }
  main .calendarContainer #bookingSelector .infoDiv p {
    font-size: 0.5rem;
  }
  main .yourBookings {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    margin: 0px;
    height: 100%;
    margin-top: 5.5vw;
  }
  main .yourBookings h2 {
    font-size: 2vw;
  }
  main .yourBookings #bookingContainer {
    max-height: 85vh;
  }
  main .yourBookings #bookingContainer .booking p {
    font-size: 1vw;
  }
  main .yourBookings #bookingContainer .booking p strong {
    font-size: 1.5vw;
  }
}/*# sourceMappingURL=main.css.map */