@mixin popupButton {
    border: 0px;
    border-radius: 0.5rem;

    min-width: 5rem;
    max-width: 5rem;
    min-height: 1rem;
    max-height: 1rem;
    padding: 1rem;

    display: grid;
    align-content: center;

    color: white;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin confirmPressedDown {
    filter: none;
    background-color: $confirmButtonDisabled;
}

@mixin datePickerHorizontal{
    .datePicker{
        margin-top: 1.5vh;
        display: flex;
        justify-content: space-between;
        width: 34vw;
        height: 4vw;

        .changeMonth{
            height: 4vw;
            width: 4vw;
        }

        #prv{
            order: 1;
        }
        #month{
            font-size: 2.5vw;
            order: 2;
        }
        #year{
            font-size: 2vw;
            order: 3;
            align-self: center;
            margin-top: 1.2vh;
        }
        #nxt{
            order: 4;
        }
    }
}