$background: #003840;
$backgroundBlur: rgba(0, 55, 64, 0.8);
$backgroundActive: #002c33;
$calendarBackground: rgb(0,90,91);
$calendarDayBackground: #007369;
$calendarDayBackgroundActive: #0a3531;
$yourBooking: #009BBD;
$yourBookingActive: #007e9b;
$hasInflux: #FFD348;
$hasInfluxActive: #d4b03a;
$fullBookActive: #550000;
$confirmButton: #02A676;
$errorBoxes: #770000;
$hover: #008C81;
$font: 'Inter', sans-serif;
$loginRadius: 3vh;
$boxRadius: 10px;
$boxShadow : 0px 4px 4px 0px rgba(0, 0, 0, 0.25);